.Menu-bloc {
  background-color: #0f2041;
  color: #fff;
  width: 280px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.Menu-title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.Menu-link {
  text-decoration: none;
  color: #fff;
  margin: 20px 20px;
  padding: 20px 20px;
}

.Menu-logout{
  cursor: pointer;
  margin: 30px 80px 0px 0px;
  background-color: #c2595d;
  color: white;
  padding: 10px 20px;
  text-align: left;
  font-size: 15px;
  border: none;
}

.Menu-logout:focus {
  background-color: #0f2041;
  color: #fff;
}

.Menu-iconLink {
  margin-top: 30px; 
}

.Menu-button {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px)
{
  .Menu-bloc {
      width: 100%;
      padding: 0;
      border-top: solid 2px #fff;
  }

  .Menu-iconLink {
      padding-left: 20px;
  }

  .Menu-title {
      padding-left: 20px;
  }

  .Menu-logout {
      margin: 20px;
  }
}

@media screen and (min-width:769px) and (max-width: 1024px)
{
  .Menu-bloc {
      width: 100%;
      padding: 0;
  }

  .Menu-iconLink {
      padding-left: 20px;
  }

  .Menu-title {
      padding-left: 20px;
  }

  .Menu-logout {
      margin: 20px;
  }
}