.Inscription {
    text-align: center;
    margin-top: 40px;
}

.Inscription-form {
    text-align: left;
    display: grid;
    grid-template-columns: 170px 600px;
    justify-content: center;
    margin: 0 auto;
}

.Inscription-input {
    margin: 10px;
    border: solid 1px;
    padding: 10px 5px;
}

.Inscription-file {
    margin: 10px;
    padding: 10px 5px;
}

.Inscription-label{
    margin: 10px;
    padding: 10px 5px;
}

.Inscription-request {
    font-size: 12px;
    font-style: italic;
}

.Submit-form {
    background-color: #204f61;
    color: #ffffff;
    margin: 20px 40px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
}

.Submit-form:hover {
    background-color: #fff;
    color: #E53333;
    border: solid 2px #204f61;
}

.Submit-form:focus {
    background-color: #fff;
    color: #204f61;
    border: solid 2px  #204f61;
}

@media screen and (max-width: 768px)
{
    .Inscription-form {
        grid-template-columns: repeat(1, 1fr);
    }

    .Inscription-label {
        padding: 0;
        margin : 0 20px;
    }

    .Inscription-file {
        margin: 10px 20px;
    }

    .Inscription-input {
        margin: 10px 20px;
    }
}