.Body {
  text-align: center;
}

.Home-button {
    background-color: #0f2041;
    color: #ffffff;
    line-height: 20px;
    margin: 20px 20px;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    text-decoration: none;
  }

  .Home-button:focus {
    background-color: #fff;
    color: #0f2041;
    border: solid 1px #0f2041;
   
  }
  
  h1 {
    color: #0f2041;
    margin: 110px;
  }

  @media screen and (max-width: 768px) 
{
  .Home-button {
    display: block;
    margin: 20px auto;
  }
}